.footer {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-txt {
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 500;
    color: var(--black-text-color);
}