.header {
    height: 25vh;
    width: 100%;
}

.header-popups {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-branding {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    max-height: 80px;
    width: auto;
}

